*
{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: Roboto;
}


.header,
.footer,
.hero
{
    background: #1F2937;
}

.header, /* More elements will be added when necessary */
.footer,
a
{
    color: #E5E7EB;
    text-decoration: none;
}

.header,
.footer
{
    height: 75px;
    font-size: 16px;
}

.header-container
{
    width:   70%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul
{
    padding: 0px;
    margin:  0px;
    list-style: none;
    display: flex;
    gap: 16px;
}

.logo
{
    color: #F9FAF8;
    font-size: 24px;
}

.hero
{
    height: 350px; /* Subject to change */
    padding: 50px 0px;
}

.hero-container
{
    border: 1px solid #F9FAF8;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}


.info
{
    height: 100px; /* Temporary */

}

.quote
{
    background: #E5E7EB;
    height: 100px; /* Temporary */
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}