*
{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: Roboto;
}

.header,
.footer,
.hero
{
    background: #1F2937;
}

.header, /* More elements will be added when necessary */
.footer,
.hero-img,
a,
p,
button
{
    color: #E5E7EB;
    text-decoration: none;
}

.header,
.footer
{
    height: 70px;
    font-size: 16px;
}

.header-container
{
    width:   70%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul
{
    padding: 0px;
    margin:  0px;
    list-style: none;
    display: flex;
    gap: 16px;
}

.logo
{
    color: #F9FAF8;
    font-size: 24px;
}

.hero
{
    height: 450px; /* Subject to change */
    padding: 90px 0px;
}

.hero-container
{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.hero-textbox,
.hero-img
{
    flex: 1 0 0;
}

.hero-textbox
{
    padding-right: 48px;
}

.hero-textbox h1
{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-textbox button
{
    background: #3882F6;
    padding: 8px 32px;
    border-style: none;
    border-radius: 10px;
    margin-top: 8px;
}

.hero-img
{
    background: hsl(220, 13%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info
{
    height: 450px; /* Temporary */
    text-align: center;
    padding: 48px 0px;
}

.info-container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin: 0px auto;
    gap: 16px;
}

.info-title
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.box-container
{
    height: 100%;
    display: flex;
    gap: 48px;
}

.box
{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.box-text
{
    flex: 1 0 auto;
}

.box-img
{
    flex: 3 0 auto;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote
{
    background: #E5E7EB;
    padding: 50px 0;
}

.quote-container 
{
    height: 100%;
    width: 60%;
    margin: 0px auto;
    padding: 16px;
}

.quote-text
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author
{
    color: #1F2937;
    font-weight: 800;
    font-size: 18px;
    text-align: right;
}

.signup
{
    height: 300px;
    padding: 75px 0px;
}

.signup-container
{
    background: #3882F6;
    border: none;
    height: 100%;
    width: 70%;
    margin: 0px auto;
    border-radius: 10px;
}



.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}